{% extends 'base.html' %}

{% block content %}
<h1>食材記録</h1>

<div class="container">
    <a href="{% url 'logout' %}">logout</a>
    <br>
    <div class="row">
        {% for day, meals in list.items %}
        <h1>{{ day|date:'n/j' }}</h1>
        {% for time, meal in meals.items %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width: 5%">
                        <h2>
                            {% if time == 'breakfast' %}
                            朝食
                            {% elif time == 'lunch' %}
                            昼食
                            {% elif time == 'dinner' %}
                            夕食
                            {% elif time == 'snack' %}
                            間食
                            {% endif %}
                        </h2>
                    </th>
                    <th scope="col" style="width: 20%">名前</th>
                    <th scope="col" style="width: 10%">数量</th>
                </tr>
            </thead>
            {% for name, amount in meal.items %}
            <tbody>
                <tr>
                    <td></td>
                    <td>{{ name }}</td>
                    <td>{{ amount }} g</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}