<div class="modal fade" id="delete-Modal-{{ item.name }}" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">タスクの削除</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>削除するともとに戻せません。よろしいですか？
			</div>
			<div class="modal-footer">
				<form method='POST' action="{% url 'home' %}">
					{% csrf_token %}
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
					<button type="submit" class="btn btn-primary">削除</button>
				</form>
			</div>
		</div>
	</div>