{% extends 'base.html' %}
{% block customcss %}
<style>
.form-signin {
    max-width: 330px;
    padding: 1rem;
}
</style>
{% endblock %}
{% block content %}

<body class="d-flex align-items-center py-4 bg-body-tertiary">
  <main class="form-signin w-100 m-auto">
    <div class="container">
    <form class="form-signin" method="post" action="{% url 'home' %}">{% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">新規会員登録</h1>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="username" placeholder="UserName">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <button class="btn btn-primary w-100 py-2" type="submit">新規会員登録</button>
      {% if error %}
      {{ error }}
      {% endif %}
      <a href="{% url 'login' %}">アカウントをすでに持っている</a>
    </form>
  </div>
  </main>
</body>
{% endblock content %}